/**
 * Deepgram colors
 *
 * These are the colors that Deepgram uses for their main theme.
 * These are also set separately in the fern/docs.yml file.
 *
 * @see fern/docs.yml
 */

:root {
  --background-rgb: 245, 245, 247;
  --body-text-rgb: 26, 26, 31;
  --accent-primary-rgb: 0, 151, 110;
  --sidebar-background-rgb: 245, 245, 247;
  --header-background-rgb: 251, 251, 255;
  --card-background-rgb: 255, 255, 255;
  --border-rgb: 229, 229, 231;

  --hl-dark-blue: #201cff;
  --hl-meadow: #13ef95;
  --hl-pink: #ff2eea;
  --hl-light-pink: #ffafea;
  --hl-blue: #4b3cff;
  --hl-orange: #ed9e79;
  --hl-red: #cc0000;
  --hl-gray: #6c6c70;
  --hl-light-gray: #949498;

  /* deepgram main */
  --deepgram-background: rgb(var(--background-rgb));
  --deepgram-body-text: rgb(var(--body-text-rgb));

  --deepgram-accent-primary: rgb(var(--accent-primary-rgb));
  --deepgram-sidebar-background: rgb(var(--sidebar-background-rgb));
  --deepgram-header-background: rgb(var(--header-background-rgb));
  --deepgram-card-background: rgb(var(--card-background-rgb));
  --deepgram-border: rgb(var(--border-rgb));
  --deepgram-muted-text: rgba(var(--body-text-rgb), 0.5);
}

html.dark {
  --background-rgb: 11, 11, 12;
  --body-text-rgb: 251, 251, 255;
  --accent-primary-rgb: 161, 249, 212;
  --sidebar-background-rgb: 11, 11, 12;
  --header-background-rgb: 26, 26, 31;
  --card-background-rgb: 0, 0, 0;
  --border-rgb: 44, 44, 51;
}

/**
 * Fern styles
 */

body {
  background-color: var(--deepgram-background);
  color: var(--deepgram-body-text);
}

.fern-header-right-menu .fern-button {
  font-weight: 600;
}

.fern-header-right-menu .fern-button:not([disabled]).filled.primary {
  background-color: var(--deepgram-body-text);
  color: var(--deepgram-background);
}

.fern-card {
  background-color: var(--deepgram-card-background);
  border-radius: 0.75rem;
}

:root {
  --dg-fill: linear-gradient(
    45deg,
    var(--deepgram-header-background),
    var(--deepgram-header-background)
  );
  --dg-primary: linear-gradient(
    45deg,
    var(--hl-dark-blue) -91.5%,
    var(--hl-meadow) 80.05%
  );
  --dg-experimental: linear-gradient(
    45deg,
    var(--hl-pink) -99.24%,
    var(--hl-blue) 99.26%
  );
  --dg-deprecated: linear-gradient(
    45deg,
    var(--hl-orange) -99.24%,
    var(--hl-red) 99.26%
  );
  --dg-pink-gradient: linear-gradient(
    45deg,
    var(--hl-pink) -99.24%,
    var(--hl-light-pink) 99.26%
  );
  --dg-unavailable: linear-gradient(
    45deg,
    var(--hl-gray) -99.24%,
    var(--hl-light-gray) 99.26%
  );
  --dg-primary-hover: linear-gradient(
    45deg,
    var(--deepgram-body-text) -91.5%,
    var(--deepgram-body-text) 80.05%
  );
}

/*
 * Deepgram Badge
 */
.dg-badge {
  --gradient: var(--dg-primary);

  font-size: 12px;
  background: var(--dg-fill) padding-box, var(--gradient) border-box;
  border-radius: 0.5rem;
  border: 0.125rem solid transparent;
}

.dg-badge span {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dg-badge.strike-through {
  text-decoration: line-through;
}

/* Support both naming patterns */
.dg-badge.unavailable {
  --gradient: var(--dg-unavailable);
}

.dg-badge.experimental {
  --gradient: var(--dg-experimental);
}

.dg-badge.deprecated {
  --gradient: var(--dg-deprecated);
}

.dg-badge.pink {
  --gradient: var(--dg-pink-gradient);
}

.dg-badge .fa-icon {
  background: var(--gradient);
  margin-right: 0.5rem;
}

/**
 * Deepgram Playground Card
 */
a.fern-card.interactive[href*="playground.deepgram.com"] {
  --gradient: var(--dg-experimental);

  font-size: 12px;
  background: var(--dg-fill) padding-box, var(--gradient) border-box;
  border-radius: 0.5rem;
  border: 0.125rem solid transparent;
}

a.fern-card.interactive[href*="playground.deepgram.com"]:hover {
  background: var(--dg-fill) padding-box, var(--dg-primary-hover) border-box;
}

a.fern-card.interactive[href*="playground.deepgram.com"] span.card-icon {
  background: var(--dg-primary-hover);
}

/**
 * Deepgram Announcement Card
 */

#announcement .fern-card {
  --gradient: var(--dg-primary);

  background: var(--dg-fill) padding-box, var(--gradient) border-box;
  border-radius: 1000px;
  border: 0.125rem solid transparent;
  padding: 0.5rem;
}

#announcement .fern-card > div {
  justify-content: center;
}

#announcement .fern-card > div > div {
  width: auto;
}

#announcement .fern-card:hover {
  background: var(--dg-fill) padding-box, var(--dg-primary-hover) border-box;
  transform: scale(1.01);
}

/**
 * Deepgram Navigation Tabs
 */

.fern-header-tab-button[data-state="active"] span {
  color: var(--deepgram-body-text) !important;
}

.fern-theme-default.fern-container
  .fern-header-tabs
  .fern-header-tab-button[data-state="active"]:after {
  height: 0.125rem;
  background-color: none;
  background: var(--dg-primary);
}

/**
 * Fern Sidebar
 */

.fern-sidebar-link-text {
  /* font-size: 16px !important; */
}

.fern-sidebar-link-container[data-state="active"]
  .fern-sidebar-link-indent:after {
  border: 0px !important;
}

.fern-sidebar-link-container[data-state="active"] .fern-sidebar-link {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ) !important; /* Darkens by adding transparent black overlay */
}

html.dark .fern-sidebar-link-container[data-state="active"] .fern-sidebar-link {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ) !important; /* Lightens in dark mode by adding transparent white overlay */
}

.fern-sidebar-link-container[data-state="active"] .fern-sidebar-link:after {
  background: var(--dg-primary) !important;
  width: 2px !important;
  position: absolute !important;
  content: "" !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  border-radius: 8px !important;
}

.fern-sidebar-link {
  border-radius: 0 !important;
}

.fern-sidebar-link-content {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.fern-sidebar-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (min-width: 1024px) {
  .fern-sidebar-container:not(.fern-sidebar-fixed) {
    padding-left: 0rem !important;
  }
}

.fern-sidebar-heading-content,
.fern-sidebar-link-container .font-semibold .fern-sidebar-link-text {
  /* font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 17.5px !important;
  letter-spacing: 2% !important; */
  color: var(--deepgram-accent-primary) !important;
}

.fern-sidebar-tabs {
  padding-left: 10px !important;
}

.fern-sidebar-heading {
  padding-left: 28px !important;
}

.fern-sidebar-link-indent {
  margin-left: 20px !important;
}

.fern-sidebar-link-container[data-state="inactive"] .fern-sidebar-link:hover {
  color: var(--deepgram-body-text) !important;
}

/**
 * Fern TW styles
 */

/**
 * Docsearch styles
 */

.DocSearch {
  /* docsearch variables that reference deepgram variables */
  --docsearch-primary-color: var(--deepgram-accent-primary);
  --docsearch-text-color: var(--deepgram-body-text);
  --docsearch-spacing: 12px;
  --docsearch-icon-stroke-width: 1.4;
  --docsearch-highlight-color: var(--deepgram-accent-primary);
  --docsearch-muted-color: var(--deepgram-muted-text);
  --docsearch-container-background: rgba(var(--background-rgb), 0.9);
  --docsearch-logo-color: var(--deepgram-accent-primary);

  /* modal */
  --docsearch-modal-width: 720px;
  --docsearch-modal-height: 800px;
  --docsearch-modal-background: var(--deepgram-card-background);
  --docsearch-modal-shadow: inset 1px 1px 0 0 var(--deepgram-background),
    0 3px 8px 0 var(--deepgram-background);

  /* searchbox */
  --docsearch-searchbox-height: 56px;
  --docsearch-searchbox-background: var(--deepgram-background);
  --docsearch-searchbox-focus-background: var(--deepgram-background);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--deepgram-accent-primary);

  /* hit */
  --docsearch-hit-height: 56px;
  --docsearch-hit-color: var(--docsearch-text-color);
  --docsearch-hit-active-color: var(--deepgram-background);
  --docsearch-hit-background: var(--deepgram-background);
  --docsearch-hit-shadow: 0 1px 3px 0 var(--deepgram-card-background);

  /* key */
  --docsearch-key-gradient: linear-gradient(
    -225deg,
    var(--deepgram-border) 0%,
    var(--deepgram-border) 100%
  );
  --docsearch-key-shadow: inset 0 -2px 0 0 var(--deepgram-border),
    inset 0 0 1px 1px var(--deepgram-border),
    0 1px 2px 1px var(--docsearch-muted-color);
  --docsearch-key-pressed-shadow: inset 0 -2px 0 0 var(--deepgram-border),
    inset 0 0 1px 1px var(--deepgram-border),
    0 1px 1px 0 var(--docsearch-muted-color);

  /* footer */
  --docsearch-footer-height: 44px;
  --docsearch-footer-background: var(--deepgram-card-background);
  --docsearch-footer-shadow: 0 -1px 0 0 var(--deepgram-border),
    0 -3px 6px 0 var(--deepgram-background);
}

@media (min-width: 1024px) {
  .DocSearch-Button {
    width: 100%;
  }
}

#docsearch-input,
#docsearch-input:focus,
#docsearch-input:active {
  --tw-ring-color: transparent !important;
}

.DocSearch-Button {
  outline: 1px solid var(--docsearch-muted-color);

  transform: scale(0.9);
  padding: 0;
  margin: 0;
  align-items: center;
  background: transparent;
}

.DocSearch-Search-Icon {
  margin-right: 1rem;
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
  background: none;
  box-shadow: none;
  color: transparent;
  outline: none;
}

.DocSearch-Logo {
  display: none;
}
